.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    'product-1 product-2'
    'product-1 product-3';
}

.product-1 {
  grid-area: product-1;
}

.product-2 {
  grid-area: product-2;
}

.product-3 {
  grid-area: product-3;
}
